<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{{body}}}
     <div class="nav-margin">
                <a href="/all" class="btn rated-btn">all reviews</a>
                {{#if user}}
                <a href="/profile" class="btn prof-btn">profile</a>
                <a href="/auth/logout" class="btn logout-btn">touch grass</a>
                {{else}}
                <a href="/auth/register" class="btn reg-btn">register</a>
                <a href="/auth/login" class="btn login-btn">login</a>
                {{/if}}
            </div>
  <script src="/js/scripts.js"></script>
</body>
</html>