<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://kit.fontawesome.com/f15672762c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="top-nav">
      {{#if user}}
      <a href="/cust">Cusomters</a>
      <a href="/comics">Comics</a>
        <a href="/profile">Profile</a>
        <a href="/auth/logout">Logout</a>
      {{else}}
        <a href="/auth/register" class="btn reg-btn">Register</a>
      {{/if}}
    </div>
    {{{body}}}
    <div class="footer">
      <a href="https://github.com/GendySparrowhawk">
        <img
          src="/assets/git_hub.png"
          alt="Git Hub"
        /></a>
      <p>&copy; Jacob Hoefer 2024</p>
    </div>
  </body>
    <script src="/js/script.js"></script>
</html>