<div>
    <h2>{{user.userName}}'s Comic Database</h2>
</div>
<div class="div-form">
  <form class="my-form" action="/comics" method="POST">
    {{#each errors}}
    <p class="error text-center">{{this}}</p>
    {{/each}}
    <div>
      <input type="text" name="firstName" placeholder="First Name" />
      <input type="text" name="lastName" placeholder="Last Name" />
      <input type="text" name="email" placeholder="Email" />
      <input type="text" name="phoneNumber" placeholder="Phone Numer" />
      <button>Submit</button>
    </div>
</form>
</div>