<h1>{{customer.firstName}} {{customer.lastName}}'s hall of records</h1>

<div>
    <p>Email: {{customer.email}}</p>
    <p>Phone Number: {{customer.phoneNumber}}</p>
</div>

<div>
    <h2>comics pulled this week</h2>
</div>
