<div class="cust-nav">
  <a href="">
    <i class="fa-solid fa-square-plus"></i>
  </a>

</div>
<h1>Your Customers</h1>

<ul>
  {{#each customers}}
  <li>
    <a href="/cust/">{{this.firstName}} {{this.lastName}}</a></li>
  {{/each}}
</ul>
<div class="div-form">
  <form class="my-form" action="/cust" method="POST">
    {{#each errors}}
    <p class="error text-center">{{this}}</p>
    {{/each}}
    <div>
      <input type="text" name="firstName" placeholder="First Name" />
      <input type="text" name="lastName" placeholder="Last Name" />
      <input type="text" name="email" placeholder="Email" />
      <input type="text" name="phoneNumber" placeholder="Phone Numer" />
      <button>Submit</button>
    </div>
</div>
</form>