<div class="div-form">
  <form class="my-form" action="/auth/login" method="POST">
    {{#each errors}}
    <p class="error text-center">{{this}}</p>
    {{/each}}

    <div class="form-input">
      <input type="text" name="userName" placeholder="please enter your username">
      <input type="password" name="password" placeholder="please enter your password">
      <button>Submit</button>
    </div>
</div>
</form>