<div>
    <div class="div-form">
    <form class="my-form" action="/auth/register" method="POST">
    <h1>Register</h1>

    {{#each errors}}
    <p class="error text-center">{{this}}</p>
    {{/each}}

    <div class="form-input">
      <input type="text" name="userName" placeholder="please choose a username">
      <input type="text" name="email" placeholder="please enter your email address">
      <input type="password" name="password" placeholder="please enter your password">
      <button class="my-button">Submit</button>
    </div>
</div>
</form>
</div>